<% if @posts.exists? %>
  <%= render 'public/posts/list', posts: @posts, user: @user %>
<% else %>
  <div class="row py-5 justify-content-center">
    <p>
      フォローしてる方の投稿はありません。</br>
      検索画面より投稿をを探しにいきましょう！
    </p>
  </div>
<% end %>