<div class="row pt-5">
  <div class="col-3 p-3">
    <h4 class="table">
      <div style="text-align: center">新規投稿</div>
    </h4>
  </div>
</div>

<%= form_with model: @post, local:true, method: :post do |f| %>
  <table class="table table-borderless">

    <tr class="row">
      <th class="col-2 offset-1">写真・動画を選択</th>
      <td>
        <%= f.file_field :image, accept: "image/*" %>
      </td>
    </tr>

    <tr class="row">
      <th class="col-2 offset-1">キャプション</th>
      <td>
        <%= f.text_area :introduction, size: "30x5" %>
      </td>
    </tr>

    <tr class="row">
      <th class="col-4"></th>
      <td><%= f.submit '投稿', class: "btn btn-success" %></td>
    </tr>
  </table>
<% end %>
