<div class="row py-4 d-flex justify-content-center border-bottom border-dark">

  <div class="col-4 d-flex justify-content-center">
    <p>フォロー中</p>
  </div>

  <div class="col-4 d-flex justify-content-center">
    <%= link_to "フォロワー", user_followers_path(@user.id) %>
  </div>

  <%= link_to "戻る", user_path(current_user), class: "btn btn-primary" %>
</div>

<%= render 'follow_list', users: @users %>
