<% if users.exists? %>
  <% users.each do |user| %>
    <table>
      <tr>
        <td>
          <%= link_to admin_user_path(user.id) do %>
          <%= image_tag user.get_profile_image(70,70) %>
          <% end %>
        <td>
          <%= user.name %></br>
          <%= user.introduction %>
        </td>
      </tr>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>