@import "skippr";

 #box{
  height: 100vh;
  width: 100%;
}
 .neko0 {
  background-image: image-url("neko0.jpg");
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}
.neko1 {
  background-image: image-url("neko1.jpg");
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}
.neko2 {
  background-image: image-url("neko2.jpg");
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}
.neko3 {
  background-image: image-url("neko3.jpg");
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}
.neko4 {
  background-image: image-url("neko4.jpg");
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}
.neko5 {
  background-image: image-url("neko5.jpg");
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}
.neko6 {
  background-image: image-url("neko6.jpg");
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}

.text1 {
  position: relative;
  top:200px;
}

.button1 {
  position: relative;
  top:300px;
  left: 200px;
}

.button2 {
  position: relative;
  top:250px;
  left: 450px;
}

.button3 {
  position: relative;
  top:200px;
  left: 700px;
}