<div class="row py-3 d-flex justify-content-center">
  <div class="table-active">
    <div style="text-align: center"><strong>あなたがいいねした投稿</strong></div>
  </div>
</div>

<% if @user.favorites.exists? %>
    <%= render 'public/posts/list', posts: @favorite_posts, user: @user %>
  <% else %>
    <div class="d-flex justify-content-center">いいねした投稿はありません。</div>
  <% end %>
  </div>